@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	min-height: 100%; 
	 
}

.grid_container{
	display: grid;
	gap: 5px;
	grid-template: 
	"header" 100px
	"navbar" 50px
	"main"	500px
	"Cupon1" 300px
	"Cupon2" 300px
	"Cupon3" 300px
	"Locales" 300px
	"Novedades1" 300px
	"Novedades2" 300px
	"Novedades3" 300px
	"footer" 70px
	;
}

.header{
	grid-area: header;
	background-color: #F79F1F;
}


.navbar{
	grid-area: navbar;
	background-color: #A3CB38;
}

.main{
	grid-area: main;
	background-color: #12CBC4;
}

.Cupon1{
	grid-area: Cupon1;
	background-color: #12CBC4;
}

.Cupon2{
	grid-area: Cupon2;
	background-color: #12CBC4;
}

.Cupon3{
	grid-area: Cupon3;
	background-color: #12CBC4;
}

.Locales{
		grid-area: Locales;
	background-color: #12CBC4;
}

.Novedades1{
	grid-area: Novedades1;
	background-color: #12CBC4;
}

.Novedades2{
	grid-area: Novedades2;
	background-color: #12CBC4;
}

.Novedades3{
	grid-area: Novedades3;
	background-color: #12CBC4;
}

.sidebar{
	grid-area: sidebar;
	background-color: #D980FA;
}

.footer{
	grid-area: footer;
	background-color: #B53471;
}

@media (min-width: 600px) {
    .Cupon3{ display: none;
    }

    .Novedades3{
display: none;
    }
	.grid_container{

		grid-template: 
		"header 	navbar" 	100px 
		 "main	main" 300px
		 "Cupon1 Cupon2"250px
		 "Locales Locales"250px
		 "Novedades1 Novedades2"250px
		"footer 	footer" 	100px /
		 auto 		auto;
 	}

}


@media (min-width: 900px) {
    .Cupon3{ display: block;
    }

    .Novedades3{
display: block;
    }

	.grid_container{
		grid-template: 
		"header navbar navbar" 	100px 
		"main main main" 500px
		"Cupon1 Cupon2 Cupon3" 300px
		"Locales Locales Locales" 300px
		"Novedades1 Novedades2 Novedades3"300px
		"footer 	footer 	footer" 	100px /
		auto	auto 	auto;
	}
}
